.drawing-box {
  margin: 0;
  padding: 0;
  height: calc(100vh - 56px);
  width: 100vw;
  touch-action: none;
  box-sizing: border-box;
  background-color: #ffffff;
  /* background-color: #1e1e1e; */
}

#mui-container {
  height: 100%;
}
#main {
  display: flex;
  bottom: 0;
  height: calc(100% - 56px);
}
a {
  text-decoration: none;
  color: white;
}
#toolbar{
  box-shadow: 0px 3px 2px #ccc;
}
.tool-bar-wrap {
  margin: 0 auto;
  position: absolute;
  bottom: 30px;
  left: 50%;
  height: 80px;
  width: 80%;
  user-select: none;
  background-color: #c8e0e4;
  border-radius: 10px;
  box-shadow: 0px 3px 2px #ccc;
  transform: translateX(-50%);
  overflow: auto;
  box-sizing: border-box;
  scrollbar-width: thin;
}
.tool-bar {
  height: 100%;
  touch-action: pan-x;
  width: 1400px;
  display: flow-root;
  white-space: nowrap;
}
.tool-bar > div {
  margin: 0 10px;
  float: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.tool-bar-wrap::-webkit-scrollbar {
  height: 5px;
}
.tool-bar-wrap::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #adb5bd;
  border-top: 2px solid transparent;
}
.tool-bar-wrap::-webkit-scrollbar-track {
  width: 8px;
  border-radius: 8px;
  background: none;
}

#draw-canvas {
  margin-left: -512px;
}

#brush-size-text {
  display: inline-block;
}


.slider {
  color: #20b2aa;
}

.slider:hover {
  color: #d7eaf2;
}

.slider .thumb {
  border-radius: 1px;
}
